<section class="fluid-section-two">
    <div class="outer-container clearfix">
        <div class="contact-column">
            <div class="parallax-scene parallax-scene-4 anim-icons">
                <span data-depth="0.50" class="parallax-layer icon icon-cloud-3"></span>
                <span data-depth="0.30" class="parallax-layer icon icon-star-7"></span>
                <span data-depth="0.40" class="parallax-layer icon icon-balloon-2"></span>
            </div>
            <div class="inner-column clearfix">
                <div class="contact-form">
                    <div class="sec-title light">
                        <span class="title">Get in Touch</span>
                        <h2>Contact Us</h2>
                    </div>
                    <form>
                        <div class="form-group">
                            <input type="text" name="username" placeholder="Full name" required="">
                        </div>
                        <div class="form-group">
                            <input type="email" name="email" placeholder="Email address" required="">
                        </div>
                        <div class="form-group">
                            <input type="text" name="phone" placeholder="Phone number" required="">
                        </div>
                        <div class="form-group">
                            <textarea name="message" placeholder="Write message"></textarea>
                        </div>
                        <div class="form-group">
                            <button class="theme-btn btn-style-one" type="submit" name="submit-form">Send Message</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="map-column">
            <div class="map-outer">
                <div class="map-canvas" data-zoom="12" data-lat="-37.817085" data-lng="144.955631" data-type="roadmap" data-hue="#ffc400" data-title="Envato" data-icon-path="images/icons/map-marker.png" data-content="Melbourne VIC 3000, Australia<br><a href='mailto:info@youremail.com'>info@youremail.com</a>"></div>
            </div>
            <div class="caption-box">
                <h3>Call to enrol your child 666 8888 000</h3>
            </div>
        </div>
    </div>
</section>
