<header class="main-header header-style-two">
    {{!-- top nav bar partial --}}
    {{> navTop }}
    <div class="header-lower">
        <div class="auto-container clearfix">
            {{!-- logo --}}
            <div class="logo-outer">
                <div class="logo"><a href="index.html">
                        <img src="images/logo.png" alt="" title=""></a></div>
            </div>
            {{!-- main nav partial --}}
            {{> navMain }}
        </div>
    </div>
    {{!-- sticky nav partial --}}
    {{> navSticky }}
</header>
