<!-- BEGIN Sticky Nav  -->
<div class="sticky-header">
    <div class="auto-container clearfix">
        <!--Logo-->
        <div class="logo pull-left">
            <a href="index.html" title="">
                <img src="images/logo.png" alt="" title=""></a>
        </div>
        <!--Right Col-->
        <div class="pull-right">
            <!-- Main Menu -->
            <nav class="main-menu">
                <div class="navbar-collapse show collapse clearfix">
                    <ul class="navigation clearfix">
                        <li class="current dropdown"><a href="index.html">Home</a>
                            <ul>
                                <li><a href="index.html">Home page 01</a></li>
                                <li><a href="index-2.html">Home page 02</a></li>
                                <li class="dropdown"><a href="index.html">Header Styles</a>
                                    <ul>
                                        <li><a href="index.html">Header Style One</a></li>
                                        <li><a href="index-2.html">Header Style Two</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li><a href="about.html">About Us</a></li>
                        <li class="dropdown"><a href="events.html">Events</a>
                            <ul>
                                <li><a href="events.html">Events</a></li>
                                <li><a href="event-detail.html">Event Detail</a></li>
                            </ul>
                        </li>
                        <li class="dropdown"><a href="programs.html">Programs</a>
                            <ul>
                                <li><a href="numbers-matching.html">Numbers Matching</a></li>
                                <li><a href="paper-plates-art.html">Paper Plates Art</a></li>
                                <li><a href="create-cartoon-egg.html">Create Egg Cartoon</a></li>
                                <li><a href="cooking-fun-cake.html">Cooking Fun Cake</a></li>
                                <li><a href="super-colors-game.html">Super Colors Game</a></li>
                                <li><a href="learning-disciplines.html">Learning Disciplines</a></li>
                            </ul>
                        </li>
                        <li><a href="gallery.html">Gallery</a></li>
                        <li class="dropdown"><a href="news.html">Our News</a>
                            <ul>
                                <li><a href="news.html">Our News</a></li>
                                <li><a href="news-single.html">News Single</a></li>
                            </ul>
                        </li>
                        <li><a href="contact.html">Contact</a></li>
                    </ul>
                </div>
            </nav
            ><!-- Main Menu End-->
        </div>
    </div>
</div>
<!-- END Sticky Nav -->
