<div class="header-top">
    <div class="auto-container">
        <div class="clearfix">
            <div class="top-left">
                <ul class="info-list clearfix">
                    <li><a href="tel:6668880000"><span class="fa fa-phone-square"></span> 666 888 0000</a></li>
                    <li><a href="mailto:info@bebio.com"><span class="fa fa-envelope"></span>info@bebio.com</a></li>
                </ul>
            </div>
            <div class="top-right">
                <!-- link Box -->
                <div class="link-box"><a href="contact.html">Login</a></div>
                <div class="search-box-btn">Search <span class="icon fa fa-search"></span></div>
            </div>
        </div>
    </div>
</div>
