<div class="header-top">
    <div class="auto-container">
        <div class="clearfix">
            <div class="top-left">
                <div class="logo"><a href="/"><img src="/images/logo.png" alt="" title=""></a></div>
            </div>
            <div class="top-right">
                <div class="link-box"><a href="contact.html">Login</a></div>
                <div class="search-box-btn">Search <span class="icon fa fa-search"></span></div>
            </div>
        </div>
    </div>
</div>
