<!-- News Section -->
<section class="news-section-two">
    <div class="auto-container">
        <div class="sec-title text-center">
            <span class="title">News & Articles</span>
            <h2>Recent Articles</h2>
        </div>
        <div class="row">
            <!-- News Block -->
            <div class="news-block-two col-lg-4 col-md-6 col-sm-12 wow fadeInUp">
                <div class="inner-box">
                    <div class="image-box">
                        <figure class="image"><a href="news-single.html">
                            <img src="images/resource/news-3.jpg" alt=""></a>
                        </figure>
                    </div>
                    <div class="lower-content">
                        <ul class="post-info">
                            <li><span class="fa fa-calendar-alt"></span><a href="news-single.html">20 Feb, 2019</a>
                            </li>
                            <li><span class="fa fa-comments"></span><a href="news-single.html">3 comments</a></li>
                        </ul>
                        <h3><a href="news-single.html">The Indoor Activities for Everyone</a></h3>
                        <div class="text">There are many people variation of passages of lorem Ipsum available in the majority sed do eius tempo.</div>
                        <div class="btn-box"><a href="news-single.html" class="theme-btn btn-style-one">Read More</a></div>
                    </div>
                </div>
            </div>
            <!-- News Block -->
            <div class="news-block-two col-lg-4 col-md-6 col-sm-12 wow fadeInUp" data-wow-delay="400ms">
                <div class="inner-box">
                    <div class="image-box">
                        <figure class="image"><a href="news-single.html">
                            <img src="images/resource/news-4.jpg" alt=""></a>
                        </figure>
                    </div>
                    <div class="lower-content">
                        <ul class="post-info">
                            <li><span class="fa fa-calendar-alt"></span><a href="news-single.html">18 Feb, 2019</a>
                            </li>
                            <li><span class="fa fa-comments"></span><a href="news-single.html">2 comments</a></li>
                        </ul>
                        <h3><a href="news-single.html">We Make Difference in the Life of Child</a></h3>
                        <div class="text">There are many people variation of passages of lorem Ipsum available in the majority sed do eius tempo.</div>
                        <div class="btn-box"><a href="news-single.html" class="theme-btn btn-style-one">Read More</a></div>
                    </div>
                </div>
            </div>
            <!-- News Block -->
            <div class="news-block-two col-lg-4 col-md-6 col-sm-12 wow fadeInUp" data-wow-delay="800ms">
                <div class="inner-box">
                    <div class="image-box">
                        <figure class="image"><a href="news-single.html">
                            <img src="images/resource/news-5.jpg" alt=""></a>
                        </figure>
                    </div>
                    <div class="lower-content">
                        <ul class="post-info">
                            <li><span class="fa fa-calendar-alt"></span><a href="news-single.html">16 Feb, 2019</a>
                            </li>
                            <li><span class="fa fa-comments"></span><a href="news-single.html">2 comments</a></li>
                        </ul>
                        <h3><a href="news-single.html">Kids Grooming with New Lessons</a></h3>
                        <div class="text">There are many people variation of passages of lorem Ipsum available in the majority sed do eius tempo.</div>
                        <div class="btn-box"><a href="news-single.html" class="theme-btn btn-style-one">Read More</a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--End News Section -->

<!-- Program Section -->
<section class="program-section">
    <div class="auto-container">
        <div class="sec-title text-center">
            <span class="title">Select Program</span>
            <h2>Our Programs</h2>
        </div>

        <div class="row">
            <!-- Program Block -->
            <div class="program-block col-lg-4 col-md-6 col-sm-12 wow fadeInUp">
                <div class="inner-box">
                    <div class="image-box">
                        <figure class="image"><a href="numbers-matching.html"><img
                                    src="images/resource/program-1.jpg" alt=""></a></figure>
                    </div>
                    <div class="lower-content">
                        <h4><a href="numbers-matching.html">Numbers Matching</a></h4>
                        <div class="text">Lorem ipsum avail but the major have suffer in some form.</div>
                        <ul class="program-info">
                            <li><span>Age:</span> 2-3 years</li>
                            <li><span>Time:</span> 9:00-11:00</li>
                        </ul>
                    </div>
                </div>
            </div>

            <!-- Program Block -->
            <div class="program-block col-lg-4 col-md-6 col-sm-12 wow fadeInUp" data-wow-delay="400ms">
                <div class="inner-box">
                    <div class="image-box">
                        <figure class="image"><a href="paper-plates-art.html"><img
                                    src="images/resource/program-2.jpg" alt=""></a></figure>
                    </div>
                    <div class="lower-content">
                        <h4><a href="paper-plates-art.html">Paper Plates Art</a></h4>
                        <div class="text">Lorem ipsum avail but the major have suffer in some form.</div>
                        <ul class="program-info">
                            <li><span>Age:</span> 2-3 years</li>
                            <li><span>Time:</span> 9:00-11:00</li>
                        </ul>
                    </div>
                </div>
            </div>

            <!-- Program Block -->
            <div class="program-block col-lg-4 col-md-6 col-sm-12 wow fadeInUp" data-wow-delay="800ms">
                <div class="inner-box">
                    <div class="image-box">
                        <figure class="image"><a href="create-cartoon-egg.html"><img
                                    src="images/resource/program-3.jpg" alt=""></a></figure>
                    </div>
                    <div class="lower-content">
                        <h4><a href="create-cartoon-egg.html">Create Egg Cartoon</a></h4>
                        <div class="text">Lorem ipsum avail but the major have suffer in some form.</div>
                        <ul class="program-info">
                            <li><span>Age:</span> 2-3 years</li>
                            <li><span>Time:</span> 9:00-11:00</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="btn-box">
            <a href="programs.html" class="theme-btn btn-style-one">View All Programs</a>
        </div>
    </div>
</section>
<!--End Program Section -->
