<!--Sidebar Side-->
<div class="sidebar-side col-lg-4 col-md-12 col-sm-12">
    <aside class="sidebar event-sidebar">
        <!-- Search -->
        <div class="sidebar-widget search-box">
            <form method="post" action="contact.html">
                <div class="form-group">
                    <input type="search" name="search-field" value="" placeholder="Search" required>
                    <button type="submit"><span class="icon fa fa-search"></span></button>
                </div>
            </form>
        </div>

        <!-- Events Widget -->
        <div class="sidebar-widget events-widget">
            <div class="sidebar-title">
                <h5>More Stories</h5>
            </div>
            <div class="widget-content">
                <!-- Event Block -->
                <div class="event-block-two">
                    <div class="inner-box">
                        <figure class="image"><a href="#"><img src="/images/reading/the-boy-and-the-apple-tree.jpg" alt=""></a></figure>
                        <h5><a href="#">The boy and the apple tree</a></h5>
                    </div>
                </div>

                <!-- Event Block -->
                <div class="event-block-two">
                    <div class="inner-box">
                        <figure class="image"><a href="#"><img src="/images/resource/up-event-1.jpg" alt=""></a></figure>
                        <h5><a href="#">Work together in summer</a></h5>
                    </div>
                </div>

                <!-- Event Block -->
                <div class="event-block-two">
                    <div class="inner-box">
                        <figure class="image"><a href="#"><img src="/images/resource/up-event-1.jpg" alt=""></a></figure>
                        <h5><a href="#">Work together in summer</a></h5>
                    </div>
                </div>

                <!-- Event Block -->
                <div class="event-block-two">
                    <div class="inner-box">
                        <figure class="image"><a href="#"><img src="/images/resource/up-event-1.jpg" alt=""></a></figure>
                        <h5><a href="#">Work together in summer</a></h5>
                    </div>
                </div>

                <!-- Event Block -->
                <div class="event-block-two">
                    <div class="inner-box">
                        <figure class="image"><a href="#"><img src="/images/resource/up-event-1.jpg" alt=""></a></figure>
                        <h5><a href="#">Work together in summer</a></h5>
                    </div>
                </div>

                <!-- Event Block -->
                <div class="event-block-two">
                    <div class="inner-box">
                        <figure class="image"><a href="#"><img src="/images/resource/up-event-1.jpg" alt=""></a></figure>
                        <h5><a href="#">Work together in summer</a></h5>
                    </div>
                </div>

                <!-- Event Block -->
                <div class="event-block-two">
                    <div class="inner-box">
                        <figure class="image"><a href="#"><img src="/images/resource/up-event-1.jpg" alt=""></a></figure>
                        <h5><a href="#">Work together in summer</a></h5>
                    </div>
                </div>

            </div>
        </div>
    </aside>
</div>