<section class="team-section">
    <div class="auto-container">
        <div class="sec-title text-center">
            <div class="title">Expert People</div>
            <h2>Our Teachers</h2>
        </div>

        <div class="row">
            <!-- Team Block -->
            <div class="team-block col-lg-3 col-md-6 col-sm-12 wow fadeInUp">
                <div class="inner-box">
                    <div class="image-box">
                        <figure class="image"><img src="images/resource/team-1.jpg" alt=""></figure>
                        <div class="overlay-box">
                            <ul class="social-icon-colored">
                                <li><a href="#"><span class="fab fa-facebook-f"></span></a></li>
                                <li><a href="#"><span class="fab fa-twitter"></span></a></li>
                                <li><a href="#"><span class="fab fa-youtube"></span></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="caption-box">
                        <h6 class="name"><a href="#">Jesscia Brown</a></h6>
                        <span class="designation">Teacher</span>
                    </div>
                </div>
            </div>

            <!-- Team Block -->
            <div class="team-block col-lg-3 col-md-6 col-sm-12 wow fadeInUp" data-wow-delay="400ms">
                <div class="inner-box">
                    <div class="image-box">
                        <figure class="image"><img src="images/resource/team-2.jpg" alt=""></figure>
                        <div class="overlay-box">
                            <ul class="social-icon-colored">
                                <li><a href="#"><span class="fab fa-facebook-f"></span></a></li>
                                <li><a href="#"><span class="fab fa-twitter"></span></a></li>
                                <li><a href="#"><span class="fab fa-youtube"></span></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="caption-box">
                        <h6 class="name"><a href="#">Sarah Albert</a></h6>
                        <span class="designation">Teacher</span>
                    </div>
                </div>
            </div>

            <!-- Team Block -->
            <div class="team-block col-lg-3 col-md-6 col-sm-12 wow fadeInUp" data-wow-delay="800ms">
                <div class="inner-box">
                    <div class="image-box">
                        <figure class="image"><img src="images/resource/team-3.jpg" alt=""></figure>
                        <div class="overlay-box">
                            <ul class="social-icon-colored">
                                <li><a href="#"><span class="fab fa-facebook-f"></span></a></li>
                                <li><a href="#"><span class="fab fa-twitter"></span></a></li>
                                <li><a href="#"><span class="fab fa-youtube"></span></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="caption-box">
                        <h6 class="name"><a href="#">Christine Eve</a></h6>
                        <span class="designation">Teacher</span>
                    </div>
                </div>
            </div>

            <!-- Team Block -->
            <div class="team-block col-lg-3 col-md-6 col-sm-12 wow fadeInUp" data-wow-delay="1200ms">
                <div class="inner-box">
                    <div class="image-box">
                        <figure class="image"><img src="images/resource/team-4.jpg" alt=""></figure>
                        <div class="overlay-box">
                            <ul class="social-icon-colored">
                                <li><a href="#"><span class="fab fa-facebook-f"></span></a></li>
                                <li><a href="#"><span class="fab fa-twitter"></span></a></li>
                                <li><a href="#"><span class="fab fa-youtube"></span></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="caption-box">
                        <h6 class="name"><a href="#">Susan Hardson</a></h6>
                        <span class="designation">Teacher</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
