<!-- Page Title-->
{{> storyHeader }}
<!--End Page Title -->

<!-- Video Section -->
<section class="video-section">
    <div class="auto-container">
        <div class="row">
            <!-- Content Column -->
            <div class="content-column col-lg-6 col-md-12 col-sm-12 order-2">
                <div class="inner-column">
                    <div class="sec-title">
                        <span class="title">GoNoodle</span>
                        <h2>Young Dylan Dance Along</h2>
                    </div>
                </div>
            </div>

            <div class="image-column col-lg-6 col-md-12 col-sm-12">
                <div class="inner-column">
                    <div class="image-box wow fadeInLeft">
                        <figure class="image">
                            <a href="https://youtu.be/3WnI4UNgSaY" class="lightbox-image">
                                <iframe width="560" height="315" src="https://www.youtube.com/embed/3WnI4UNgSaY" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                                <span class="play-btn fa fa-play"></span>
                            </a>
                        </figure>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <!-- Content Column -->
            <div class="content-column col-lg-6 col-md-12 col-sm-12 order-2">
                <div class="inner-column">
                    <div class="sec-title">
                        <span class="title">GoNoodle</span>
                        <h2>Danger Force</h2>
                    </div>
                </div>
            </div>

            <div class="image-column col-lg-6 col-md-12 col-sm-12">
                <div class="inner-column">
                    <div class="image-box wow fadeInLeft">
                        <figure class="image">
                            <a href="https://youtu.be/7Li2qwdUsxU" class="lightbox-image">
                                <iframe width="560" height="315" src="https://www.youtube.com/embed/7Li2qwdUsxU" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>                                    <span class="play-btn fa fa-play"></span>
                            </a>
                        </figure>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <!-- Content Column -->
            <div class="content-column col-lg-6 col-md-12 col-sm-12 order-2">
                <div class="inner-column">
                    <div class="sec-title">
                        <span class="title">GoNoodle</span>
                        <h2>Boom Chicka Boom - Moose Tube</h2>
                    </div>
                </div>
            </div>

            <div class="image-column col-lg-6 col-md-12 col-sm-12">
                <div class="inner-column">
                    <div class="image-box wow fadeInLeft">
                        <figure class="image">
                            <a href="https://youtu.be/1b6axyuaKcY" class="lightbox-image">
                                <iframe width="560" height="315" src="https://www.youtube.com/embed/1b6axyuaKcY" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>                                    <span class="play-btn fa fa-play"></span>
                            </a>
                        </figure>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--End Video Section -->