<section class="call-to-action">
    <div class="parallax-scene parallax-scene-3 anim-icons">
        <span data-depth="0.50" class="parallax-layer icon icon-balloon-3"></span>
        <span data-depth="0.30" class="parallax-layer icon icon-star-6"></span>
        <span data-depth="0.40" class="parallax-layer icon icon-ball"></span>
        <span data-depth="0.20" class="parallax-layer icon icon-idea-2"></span>
        <span data-depth="0.50" class="parallax-layer icon icon-balloon-4"></span>
    </div>

    <div class="auto-container">
        <div class="content-box">
            <span class="title">You're not enrolled into a class yet...</span>
            <h2>Ask your teacher for the code to enroll into your Weeglobe Classroom</h2>
            <div class="btn-box"><a href="/" class="theme-btn btn-style-two">Learn More about Covid-19</a></div>
        </div>
    </div>
</section>