<!-- Coming Soon -->
<section class="coming-soon-section">
    <div class="parallax-scene parallax-scene-2 anim-icons">
        <span data-depth="0.40" class="parallax-layer icon icon-rainbow-2"></span>
        <span data-depth="0.50" class="parallax-layer icon icon-sparrow-2"></span>
        <span data-depth="0.30" class="parallax-layer icon icon-star-3"></span>
        <span data-depth="0.40" class="parallax-layer icon icon-balloon-2"></span>
    </div>
    <div class="auto-container">
        <div class="sec-title light text-center">
            <span class="title">Book Your Seat Now</span>
            <h2>Upcoming School Trip</h2>
        </div>

        <div class="content">
            <div class="time-counter">
                <div class="time-countdown clearfix" data-countdown="2019/9/19"></div>
            </div>
        </div>
    </div>
</section>
<!-- End Coming Soon -->
