<!-- Call To Action -->
<section class="call-to-action">
    <div class="parallax-scene parallax-scene-3 anim-icons">
        <span data-depth="0.50" class="parallax-layer icon icon-balloon-3"></span>
        <span data-depth="0.30" class="parallax-layer icon icon-star-6"></span>
        <span data-depth="0.40" class="parallax-layer icon icon-ball"></span>
        <span data-depth="0.20" class="parallax-layer icon icon-idea-2"></span>
        <span data-depth="0.50" class="parallax-layer icon icon-balloon-4"></span>
    </div>

    <div class="auto-container">
        <div class="content-box">
            <span class="title">Join Our New Session</span>
            <h2>Call To Enrol Your Child <span>666 8888 000</span></h2>
            <div class="btn-box"><a href="programs.html" class="theme-btn btn-style-two">View All Programs</a></div>
        </div>
    </div>
</section>
<!--End Call To Action -->
