<!-- Event Section -->
<section class="events-section">
    <div class="auto-container">
        <div class="sec-title light text-center">
            <span class="title">Upcoming Events</span>
            <h2>Join Our Events</h2>
        </div>

        <div class="row">
            <!-- Event Block -->
            <div class="event-block col-xl-6 col-md-12 col-sm-12 wow fadeInUp">
                <div class="inner-box">
                    <div class="image-box">
                        <figure class="image"><img src="images/resource/event-1.jpg" alt=""></figure>
                    </div>
                    <div class="content-box">
                        <div class="date">5 March 2019</div>
                        <h4><a href="event-detail.html">Work together in summer</a></h4>
                        <ul class="event-info">
                            <li><span>Time:</span> 9:00-11:00</li>
                            <li><span>Location:</span> Clifton</li>
                        </ul>
                    </div>
                </div>
            </div>

            <!-- Event Block -->
            <div class="event-block col-xl-6 col-md-12 col-sm-12 wow fadeInUp" data-wow-delay="400ms">
                <div class="inner-box">
                    <div class="image-box">
                        <figure class="image"><img src="images/resource/event-2.jpg" alt=""></figure>
                    </div>
                    <div class="content-box">
                        <div class="date">10 March 2019</div>
                        <h4><a href="event-detail.html">Work together in summer</a></h4>
                        <ul class="event-info">
                            <li><span>Time:</span> 9:00-11:00</li>
                            <li><span>Location:</span> Clifton</li>
                        </ul>
                    </div>
                </div>
            </div>


            <!-- Event Block -->
            <div class="event-block col-xl-6 col-md-12 col-sm-12 wow fadeInUp">
                <div class="inner-box">
                    <div class="image-box">
                        <figure class="image"><img src="images/resource/event-3.jpg" alt=""></figure>
                    </div>
                    <div class="content-box">
                        <div class="date">18 March 2019</div>
                        <h4><a href="event-detail.html">Work together in summer</a></h4>
                        <ul class="event-info">
                            <li><span>Time:</span> 9:00-11:00</li>
                            <li><span>Location:</span> Clifton</li>
                        </ul>
                    </div>
                </div>
            </div>

            <!-- Event Block -->
            <div class="event-block col-xl-6 col-md-12 col-sm-12 wow fadeInUp" data-wow-delay="400ms">
                <div class="inner-box">
                    <div class="image-box">
                        <figure class="image"><img src="images/resource/event-4.jpg" alt=""></figure>
                    </div>
                    <div class="content-box">
                        <div class="date">27 March 2019</div>
                        <h4><a href="event-detail.html">Work together in summer</a></h4>
                        <ul class="event-info">
                            <li><span>Time:</span> 9:00-11:00</li>
                            <li><span>Location:</span> Clifton</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="btn-box text-center">
            <a href="events.html" class="theme-btn btn-style-one">View All Programs</a>
        </div>
    </div>
</section>
<!--End Event Section -->
