<!-- Page Title-->
{{> storyHeader }}
<!--End Page Title -->

<!-- Games Section -->
<section class="video-section">
    <div class="auto-container">
        <div class="row">
            <!-- Content Column -->
            <div class="content-column col-lg-6 col-md-12 col-sm-12 order-2">
                <div class="inner-column">
                    <div class="sec-title">
                        <h2>15 Indoor Games Instead Of TV</h2>
                    </div>
                </div>
            </div>

            <div class="image-column col-lg-6 col-md-12 col-sm-12">
                <div class="inner-column">
                    <div class="image-box wow fadeInLeft">
                        <figure class="image">
                            <a href="https://youtu.be/uKs3U0_SAmA" class="lightbox-image">
                                <iframe width="560" height="315" src="https://www.youtube.com/embed/uKs3U0_SAmA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                                <span class="play-btn fa fa-play"></span>
                            </a>
                        </figure>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <!-- Content Column -->
            <div class="content-column col-lg-6 col-md-12 col-sm-12 order-2">
                <div class="inner-column">
                    <div class="sec-title">
                        <span class="title">Boredom Busters</span>
                        <h2>10 Indoor Games For Kids At Home</h2>
                    </div>
                </div>
            </div>

            <div class="image-column col-lg-6 col-md-12 col-sm-12">
                <div class="inner-column">
                    <div class="image-box wow fadeInLeft">
                        <figure class="image">
                            <a href="https://youtu.be/XXbCAbF2gks" class="lightbox-image">
                                <iframe width="560" height="315" src="https://www.youtube.com/embed/XXbCAbF2gks" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                            </a>
                        </figure>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <!-- Content Column -->
            <div class="content-column col-lg-6 col-md-12 col-sm-12 order-2">
                <div class="inner-column">
                    <div class="sec-title">
                        <span class="title">5-Minute Crafts</span>
                        <h2>17 Pranks And Fun Games For Children</h2>
                    </div>
                </div>
            </div>

            <div class="image-column col-lg-6 col-md-12 col-sm-12">
                <div class="inner-column">
                    <div class="image-box wow fadeInLeft">
                        <figure class="image">
                            <a href="https://youtu.be/jfJMVRl0irE" class="lightbox-image">
                                <iframe width="560" height="315" src="https://www.youtube.com/embed/jfJMVRl0irE" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                            </a>
                        </figure>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--End Games Section -->
