<section class="contact-form-section">
    <div class="auto-container">
        <div class="contact-form">
            <div class="sec-title text-center">
                <span class="title">Make online learning easier</span>
                <h2>Create or connect to your online class</h2>
            </div>

            <form method="post" action="sendemail.php" id="contact-form">
                <div class="row">
                    <div class="form-group col-lg-6 col-md-12 col-sm-12">
                        <input type="text" name="username" placeholder="Full name" required="">
                    </div>

                    <div class="form-group col-lg-6 col-md-12 col-sm-12">
                        <input type="email" name="email" placeholder="Email address" required="">
                    </div>

                    <div class="form-group col-lg-12 col-md-12 col-sm-12">
                        <textarea name="message" placeholder="Write message"></textarea>
                    </div>

                    <div class="form-group col-lg-12 col-md-12 col-sm-12 text-center">
                        <button class="theme-btn btn-style-one" type="submit" name="submit-form">Send Message</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>