<section class="events-section style-two">
    <div class="auto-container">

        <div class="sec-title text-center">
            <span class="title">Excited to read something very interesting?</span>
            <h2>Choose a story</h2>
        </div>

        <div class="row">
            <!-- Event Block -->
            {{> stories }}
            <!-- End Event Block -->
        </div>
        
    </div>
</section>
