<section class="coming-soon-section">
    <div class="parallax-scene parallax-scene-2 anim-icons">
        <span data-depth="0.40" class="parallax-layer icon icon-rainbow-2"></span>
        <span data-depth="0.50" class="parallax-layer icon icon-sparrow-2"></span>
        <span data-depth="0.30" class="parallax-layer icon icon-star-3"></span>
        <span data-depth="0.40" class="parallax-layer icon icon-balloon-2"></span>
    </div>
    <div class="auto-container">
        <div class="sec-title light text-center">
            <span class="title">Search Results</span>
            <h2>TBD</h2>
        </div>
    </div>
</section>
