<!-- Testimonial Section -->
<section class="testimonial-section alternate">
    <div class="auto-container">
        <div class="sec-title text-center">
            <div class="title">Our Testimonials</div>
            <h2>What Parents Say</h2>
        </div>

        <div class="testimonial-carousel owl-carousel owl-theme">
            <!-- Testimonial Block -->
            <div class="testimonial-block">
                <div class="inner-box">
                    <div class="content">
                        <div class="text">This is due to their excellent service, competitive pricing and customer
                            support. It’s throughly refresing to get such a personal touch.</div>
                    </div>
                    <div class="info-box">
                        <div class="thumb"><img src="images/resource/thumb-1.jpg" alt=""></div>
                        <h6 class="name">Christine Rose</h6>
                        <span class="designation">Mother of 2 kids</span>
                    </div>
                </div>
            </div>

            <!-- Testimonial Block -->
            <div class="testimonial-block style-two">
                <div class="inner-box">
                    <div class="content">
                        <div class="text">This is due to their excellent service, competitive pricing and customer
                            support. It’s throughly refresing to get such a personal touch.</div>
                    </div>
                    <div class="info-box">
                        <div class="thumb"><img src="images/resource/thumb-2.jpg" alt=""></div>
                        <h6 class="name">Kevin Hardson</h6>
                        <span class="designation">Mother of 2 kids</span>
                    </div>
                </div>
            </div>

            <!-- Testimonial Block -->
            <div class="testimonial-block">
                <div class="inner-box">
                    <div class="content">
                        <div class="text">This is due to their excellent service, competitive pricing and customer
                            support. It’s throughly refresing to get such a personal touch.</div>
                    </div>
                    <div class="info-box">
                        <div class="thumb"><img src="images/resource/thumb-1.jpg" alt=""></div>
                        <h6 class="name">Christine Rose</h6>
                        <span class="designation">Mother of 2 kids</span>
                    </div>
                </div>
            </div>

            <!-- Testimonial Block -->
            <div class="testimonial-block style-two">
                <div class="inner-box">
                    <div class="content">
                        <div class="text">This is due to their excellent service, competitive pricing and customer
                            support. It’s throughly refresing to get such a personal touch.</div>
                    </div>
                    <div class="info-box">
                        <div class="thumb"><img src="images/resource/thumb-2.jpg" alt=""></div>
                        <h6 class="name">Kevin Hardson</h6>
                        <span class="designation">Mother of 2 kids</span>
                    </div>
                </div>
            </div>

            <!-- Testimonial Block -->
            <div class="testimonial-block">
                <div class="inner-box">
                    <div class="content">
                        <div class="text">This is due to their excellent service, competitive pricing and customer
                            support. It’s throughly refresing to get such a personal touch.</div>
                    </div>
                    <div class="info-box">
                        <div class="thumb"><img src="images/resource/thumb-1.jpg" alt=""></div>
                        <h6 class="name">Christine Rose</h6>
                        <span class="designation">Mother of 2 kids</span>
                    </div>
                </div>
            </div>

            <!-- Testimonial Block -->
            <div class="testimonial-block style-two">
                <div class="inner-box">
                    <div class="content">
                        <div class="text">This is due to their excellent service, competitive pricing and customer
                            support. It’s throughly refresing to get such a personal touch.</div>
                    </div>
                    <div class="info-box">
                        <div class="thumb"><img src="images/resource/thumb-2.jpg" alt=""></div>
                        <h6 class="name">Kevin Hardson</h6>
                        <span class="designation">Mother of 2 kids</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--End Testimonial Section -->
