.cirlebar {
  position: fixed;
  bottom: 5%;
  right: 3%;
  z-index: 99999; }
  .cirlebar .cirlebar_icon {
    font-size: 38px;
    color: #ffffff; }

.cirlebar .nav-link {
  background-color: #ffae00;
  width: 70px;
  height: 70px;
  margin: 0px 8px 15px;
  padding-top: 15px;
  border-radius: 50%; }
  .cirlebar .nav-link:hover {
    color: #ffffff;
    -webkit-animation: 2s rainbow infinite alternate;
    animation: 2s rainbow infinite alternate; }

.news-block-two .text {
  min-height: 215px; }
